USE_AGENTVERSE=true
AGENT_SEED = neurotrade_ai_agent
AGENT_PORT = 8000
NEXT_PUBLIC_AI_API_URL = https://example.com/api
ONEINCH_API_KEY = ENTER1INCHAPIKEY
GRAPH_API_KEY = ENTERYOURGRAPHAPI
LOG_LEVEL  = DEBUG
NEXT_PUBLIC_PRIVY_APP_ID=ENTERYOURPRIVYAPPID
NEXT_PUBLIC_PRIVY_API_KEY=ENTERYOURPRIVYAPPKEY
